.App {
  text-align: center;
}

.loading {
  width: 60px;
  height: 60px;
  border: 8px solid #f3f3f3; /* adjust border color */
  border-radius: 50%;
  border-top-color: black; /* color for spinning part */
  animation: spin 1s linear infinite;
  margin: auto;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}